@font-face {
  font-family: 'IDAHC39MCode39Barcode';
  src: url('../fonts/IDAutomationHC39MCode39Barcode.eot'); /* IE9 Compat Modes */
  src: url('../fonts/IDAutomationHC39MCode39Barcode.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/IDAutomationHC39MCode39Barcode.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/IDAutomationHC39MCode39Barcode.woff') format('woff'), /* Modern Browsers */
    url('../fonts/IDAutomationHC39MCode39Barcode.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/IDAutomationHC39MCode39Barcode.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
  
  
 .barcodeSymbol {
               font-family: 'IDAHC39MCode39Barcode';
               font-size: 18px;
               border: 1px solid #ddd;
               display: inline-block;
               padding: 10px;
           }